/*********************************************************
Main Stylesheet
Project structure:
---Welcome.php---
1. Header -> .header
    + Navigation Menu -> .top-nav
        - Navigation Logo -> .top-nav_logo
        - Navigation Languages -> .top-nav_lang
            - Link English -> .nav-link .english
            - Link Polish -> .nav-link .polish
2. Main -> .main
    + Cards for Users -> .user
        - Card for Kid -> .card .kid
        - Card for Parent -> .card .parent
3. Footer -> .footer
*********************************************************/
/*******************
Global styling
*******************/
body {
  margin: 0;
  font-family: 'Almendra', sans-serif;
  background: url(../img/background.jpg) no-repeat top center fixed;
  background-size: cover;
}

ul {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #2EBBCE;
}

/****************
NAVIGATION MENU
*****************/
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(4, 27, 40, 0.9);
  border-bottom: 1px solid #2EBBCE;
}

.top-nav_logo {
  margin: 10px;
  font-size: 1.2em;
}

.top-nav_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav .nav-slash {
  color: #fff;
}

.top-nav_lang li {
  margin-right: 15px;
}

.top-nav_lang li a,
.user .card-header a {
  text-transform: uppercase;
}

/***********************
MAIN
***********************/
.wrapper {
  padding-top: 50px;
}

.user .card {
  cursor: pointer;
}

.user .card,
.login .login_kid,
.login .login_parent,
.register .register_parent {
  width: 300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 25px;
  color: #fff;
  background-color: rgba(4, 27, 40, 0.9);
  border: 1px solid #2EBBCE;
  border-radius: 5px;
}

.card_title,
.login_title,
.register_title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #2EBBCE;
}

.user .card .img_kid,
.user .card .img_parent {
  text-align: center;
}

.user .card:hover {
  background: #02141e;
}

/**************************
FOOTER
**************************/
.footer {
  color: #fff;
  background-color: rgba(4, 27, 40, 0.9);
  border-top: 1px solid #2EBBCE;
}

.footer .copy {
  float: right;
}

/***********************
LOGIN_KID AND LOGIN_PARENT
***********************/
.login .field,
.register .field {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: none;
  border: 1px solid #2EBBCE;
  border-radius: 5px;
}

.sub-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Almendra', sans-serif;
  color: #fff;
  background: #02141e;
  border: none;
  border: 1px solid #2EBBCE;
  border-radius: 5px;
}

.sub-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2EBBCE), to(#02141e));
  background: linear-gradient(#2EBBCE, #02141e);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  opacity: 0.9;
}

.captcha {
  margin-top: 20px;
}

/*# sourceMappingURL=main.css.map */