/**************************
ADDING SUBJECTS AND MARKS 
***************************/
body#parentAddingSubjects
{
    margin: 0;
    background-color: #0d4861;
}

.item
{
	&-list
	{
		& ul
		{
			margin: 0;
		}
		& li
		{
			padding-top: 5px;
			padding-bottom: 5px;
			list-style-type: circle;
			border-bottom: 1px #2EBBCE dotted;
			&:first-child
			{
				margin-top: 10px;
			}
			& img
			{
				float: right;
				cursor:pointer;
			}
		}
	}
}

#subjects,
#marks
{
	width: 400px;
}

#subjects
{
	& #inputSubject
	{
		margin: 0;
	}
}

#formMark
{
	margin-bottom: 5px;
	& #inputMark
	{
		width: 55%;
	}
	& #inputTime
	{
		width: 30%;
	}
	& input
	{
		padding: 5px;
    	border: none;
    	border: 1px solid $color_link;
    	border-radius: 5px;
	}
}

#formSubject
{
	margin-bottom: 5px;
}

#marks
{
	& #inputMark
	{
		margin: 0;
	}
}