/****************
ADD KID
*****************/
body#add_kid
{
    background-color: #0d4861;
}

.adding-kid .button
{
    width: auto;
    padding: 5px 10px;
    margin: 5px 0 0 0;
    text-transform: none;
}

.form__text
{
    margin-left: 10px;
}

.add-file__delete
{
    margin: 5px 0;
    cursor: pointer;
}