/*************************
CREATE SUBJECTS AND MARKS
**************************/

body#create_subjects
{
    margin: 0;
    background-color: #0d4861;
}

.form
{
    &__img
    {
        float: right;
        vertical-align: middle;
        cursor: pointer;
    }
    &__list
    {
        padding: 5px;
    }
}

.subject
{
    text-align: left;
    border-bottom: 1px dotted $white-color;
    padding: 10px;
    &-name
    {
        display: inline-block;
    }
    &-new
    {
        vertical-align: middle;
        padding: 20px;
    }
}