/*************************
CREATE SUBJECTS AND MARKS
**************************/

body#create_subjects
{
    margin: 0;
    background-color: #0d4861;
}

.content-main
{
    &__form
    {
        background-color: $bg-color;
        border: 1px solid $link-color;
        border-radius: 20px;
        box-shadow: 10px 10px 15px 2px $bg-color; 
        padding: 10px;
        color: $white-color;
        width: 400px;
        text-align: center;
    }
}

.form
{
    &__plus
    {
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    &__list
    {
        padding: 5px;
        img
        {
            text-align: right;
            vertical-align: middle;
        }
    }
}

.subject-name
{
    display: inline-block;
}