/*******************
DASHBOARD PARENT
*******************/
body#parentDashboard
{
    margin: 0;
    background-color: #0d4861;
}

.dashboard
{
    flex: 1 0 auto;
    &-content
    {
        padding: 15px;
        color: $color_white;
        flex-basis: 80%;
    } 
}

.content-main
{
    &__block
    {
		flex: 0 1 230px;
        max-width: 230px;
        padding: 25px 0;
        text-align: center;
        background-color: $color_bg;
        border: 1px solid $color_link;
        border-radius: 20px;
        box-shadow: 10px 10px 15px 2px $color_bg; 
        cursor: pointer;
        &:hover
        {
            background-color: $color_bg_reserve;
            transition: all ease-out 0.2s;
        }
        &:active
        {
            box-shadow: 0px 0px $color_bg;
        }
    }
    &__text
    {
        text-align: center;
        margin-top: 15px;
    }
}

.kids
{
    &-title
    {
        text-align: center;
        border-bottom: 1px solid $color_white;
    }
    &-new
    {
        text-align: right;
        &__img
        {
            box-shadow: 5px 4px 9px 1px $color_bg; 
            &:hover
            {
               cursor: pointer; 
            }
        }
    }
    &-block .active-profile
    {
        filter: none;
    }
}

.kid
{
    margin: 10px;
    width: 120px;
    height: 140px;
    background-color: $color_bg;
    border: 1px solid $color_link;
    border-radius: 20px;
    filter: grayscale(100%);
    box-shadow: 5px 4px 9px 1px $color_bg;
    &:hover
    {
        cursor: pointer;
        background-color: $color_dark; 
    }
    &-delete
    {
        padding: 5px 10px;
        width: 100%;
        text-align: right;
    }
    &-name
    {
        margin-top: 10px;
    }
}

.items
{
	&-time
	{
		width: 100%;
		max-width: 560px;
		margin: 10px;
		padding: 20px;
		background-color: $color_bg;
	    border: 1px solid $color_link;
	    border-radius: 20px;
	    box-shadow: 5px 4px 9px 1px $color_bg;
	    &__display
	    {
    	font-size: 24px;
    	}
	}   
}

.item
{
	width: 270px;
	margin: 10px;
	padding: 20px;
	background-color: $color_bg;
    border: 1px solid $color_link;
    border-radius: 20px;
    box-shadow: 5px 4px 9px 1px $color_bg;
    &-title
    {
    	width: 60%;
    	margin-bottom: 20px;
    	text-align: center;
    	text-transform:uppercase;
    	border-bottom: 1px solid $color_white;
    }
    &-time
    {
    	width: 100%;
    }
    &-subjects
    {
    	&__adding img
    	{
    		margin-left: 10px;
    	}
    }
    &-subjects,
    &-tasks
    {
    	width: 100%;
    	&__list
    	{
    		width: 185px;
    		outline:none;
    		border: 0;
			border-radius: 5px;
			cursor: pointer;
    	}
    }
    &-new__img
    {
    	box-shadow: 5px 4px 9px 1px $color_bg; 
        &:hover
        {
           cursor: pointer; 
        }
    }
    &-marks
    {
    	width: 100%;
    	&__title
    	{
    		margin-top: 5px;
    		text-align: left;    		
    	}
    	&__adding img
    	{
    		margin-left: 10px;
    	}
    }
}