/*******************
DASHBOARD PARENT
*******************/
body#dashboard_parent_kids
{
    margin: 0;
    background-color: #0d4861;
}

.dashboard
{
    &-content
    {
        padding: 15px;
        color: $white-color;
        flex-basis: 80%;
    } 
}

.content-header
{
    text-align: right;
    .logout-link
    {
        text-decoration: underline;
    }
}

.content-main
{
    &__block
    {
        background-color: $bg-color;
        border: 1px solid $link-color;
        border-radius: 20px;
        box-shadow: 10px 10px 15px 2px $bg-color; 
        padding: 40px 50px 20px 50px;
        cursor: pointer;
        &:hover
        {
            background-color: $reserve-bg;
            transition: all ease-out 0.2s;
        }
        &:active
        {
            padding: 39px 49px 19px 49px;
        }
    }
    &__text
    {
        text-align: center;
        margin-top: 15px;
    }
}

.kids
{
    &-title
    {
        text-align: center;
        border-bottom: 1px solid $white-color;
    }
    &-new
    {
        text-align: right;
        &__img
        {
            box-shadow: 5px 4px 9px 1px $bg-color; 
            &:hover
            {
               cursor: pointer; 
            }
        }
    }
    &-blocks .active-profile
    {
        filter: none;
    }
    &-table
    {
        margin-top: 30px;
    }
}

.kid
{
    margin: 10px;
    width: 120px;
    height: 140px;
    background-color: $bg-color;
    border: 1px solid $link-color;
    border-radius: 20px;
    filter: grayscale(100%);
    box-shadow: 5px 4px 9px 1px $bg-color;
    &:hover
    {
        cursor: pointer;
        background-color: $dark-color; 
    }
    &-delete
    {
        padding: 5px 10px;
        width: 100%;
        text-align: right;
    }
    &-name
    {
        margin-top: 10px;
    }
}