/*******************
DASHBOARD PARENT
*******************/
body#parentDashboard
{
    margin: 0;
    background-color: #0d4861;
}

.dashboard
{
    flex: 1 0 auto;
    &-content
    {
        padding: 15px;
        color: $color_white;
        flex-basis: 80%;
    } 
}

.content-main
{
    &__block
    {
	flex: 0 1 230px;
        max-width: 230px;
        padding: 25px 0;
        text-align: center;
        background-color: $color_bg;
        border: 1px solid $color_link;
        border-radius: 20px;
        box-shadow: 10px 10px 15px 2px $color_bg; 
        cursor: pointer;
        &:hover
        {
            background-color: $color_bg_reserve;
            transition: all ease-out 0.2s;
        }
        &:active
        {
            box-shadow: 0px 0px $color_bg;
        }
    }
    &__text
    {
        text-align: center;
        margin-top: 15px;
    }
}

.kids
{
    &-title
    {
        text-align: center;
        border-bottom: 1px solid $color_white;
    }
    &-new
    {
        text-align: right;
        &__img
        {
            box-shadow: 5px 4px 9px 1px $color_bg; 
            &:hover
            {
               cursor: pointer; 
            }
        }
    }
    &-blocks .active-profile
    {
        filter: none;
    }
    &-table
    {
        margin-top: 30px;
    }
}

.kid
{
    margin: 10px;
    width: 120px;
    height: 140px;
    background-color: $color_bg;
    border: 1px solid $color_link;
    border-radius: 20px;
    filter: grayscale(100%);
    box-shadow: 5px 4px 9px 1px $color_bg;
    &:hover
    {
        cursor: pointer;
        background-color: $color_dark; 
    }
    &-delete
    {
        padding: 5px 10px;
        width: 100%;
        text-align: right;
    }
    &-name
    {
        margin-top: 10px;
    }
}