/**************************
FOOTER
**************************/

.footer
{
    color: $white-color;
    background-color: $bg-color;
    border-top: 1px solid $link-color;
    &-copy__text
    {
        text-align: right;
    }
}