/**************************
FOOTER
**************************/

.footer
{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    color: $white-color;
    background-color: $bg-color;
    border-top: 1px solid $link-color;
    &-copy__text
    {
        text-align: right;
    }
}