/****************
HEADER
*****************/
.header,
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: $bg-color;
    border-bottom: 1px solid $link-color;
}

.top-nav__logo
{
    font-size: 1.2em;
}

.top-nav__lang
{
    & .slash
    {
        color: $white-color;
    }
    li
    {
        margin-right: 15px;
        a
        {
            text-transform: uppercase;
        }
    }
}