/****************
HEADER
*****************/
.header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $color_bg_reserve;
    border-bottom: 1px solid $color_link;
}

.top-nav
{
    &__logo
    {
        font-size: 1.2em;
    }
    &__item
    {
        margin-right: 15px;
    }
    &__link
    {
        text-transform: uppercase;
    }
    &__text
    {
        color: $color_white;
    }
}