/*******************
Global styling
*******************/
body,html
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    font-family: 'Almendra-Regular', sans-serif;
}

ul 
{
    text-decoration: none; 
}

li 
{
    list-style-type: none; 
}

a 
{
    list-style: none;
    text-decoration: none;
    color: $white-color;
    &:hover
    {
        color: $link-color;
    }
}

#active
{
    &-link
    {
        border-bottom: 2px solid $link-color;
        text-shadow: 0 0 7px $dark-color;
    }
}

.wrapper
{
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.form
{
    @include form;
    &__title
    {
        @include form__title;
    }
    &__field
    {
        @include form__field;
    }
    &__btn
    {
        @include form__btn;
    }
    &__error
    {
        color: $attention-color;
        margin-bottom: 10px;
    }
    &__link
    {
        display: block;
        text-decoration: underline;
        text-align: center;
    }
}

.field
{
    &-100
    {
        width: 100%;
    }
    &-80
    {
        width: 80%;
    }
}

input
{
    outline:none;
}


.requared:after
{
    content:" *";
    color: $attention-color;
}

#reCaptcha
{
    margin-top: 5px;
}

.attention
{
    color: $attention-color;
}

#gender
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid $white-color;
    border-radius: 5px; 
}

.form_add-file
{
    margin-top: 5px;
    margin-bottom: 10px;
}

.icon
{
    padding-left: 10px;
    &:hover
    {
       color: $link-color;
    }
}

table {
    border-collapse: collapse;
}

table, th, td {
    background-color: $bg-color;
    border: 1px solid $link-color;
    padding: 10px;
}