/*********************************
Global styling (_interface.scss)
**********************************/
body,html
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Almendra-Regular', sans-serif;
}

ul 
{
    text-decoration: none; 
}

li 
{
    list-style-type: none; 
}

a 
{
    list-style: none;
    text-decoration: none;
    color: $color_white;
    &:hover
    {
        color: $color_link;
    }
}

#link_active
{
    border-bottom: 2px solid $color_link;
    text-shadow: 0 0 7px $color_dark;
}

input
{
    outline:none;
}

.wrapper
{
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
}

.form
{
    @include form;
    &__title
    {
        @include form__title;
    }
    &__label_required:after
    {
        content:" *";
        color: $color_error;
    }
    &__field
    {
        @include form__field;
        &_width_100
        {
            width: 100%;
        }
        &_width_80
        {
            width: 80%;
        }
    }
    &__btn
    {
        @include form__btn;
    }
    &__error
    {
        color: $color_error;
        margin-bottom: 10px;
        > p
        {
        	margin: 0;
        }
    }
    &__link
    {
        display: block;
        text-decoration: underline;
        text-align: center;
    }
    &__note
    {
        color: $color_error;
    }
    &-add-file
    {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

#reCaptcha
{
    margin-top: 5px;
    & > div
    {
        width: 200px !important;
    }
}

#gender
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    text-align: center;
    border: 1px solid $color_white;
    border-radius: 5px; 
}

.hidden
{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.icon
{
    padding-left: 10px;
    &:hover
    {
       color: $color_link;
    }
}

table {
    border-collapse: collapse;
}

table, th, td {
    background-color: $color_bg;
    border: 1px solid $color_link;
    padding: 10px;
}