/*******************
Global styling
*******************/
body
{
    font-family: 'Almendra-Regular', sans-serif;
}

ul 
{
    text-decoration: none; 
}

li 
{
    list-style-type: none; 
}

a 
{
    list-style: none;
    text-decoration: none;
    color: $white-color;
    &:hover
    {
        color: $link-color;
    }
}

.wrapper
{
    padding-top: 50px;
}

.form
{
    @include form;
    &__title
    {
        @include form__title;
    }
    &__field
    {
        @include form__field;
    }
    &__btn
    {
        @include form__btn;
    }
    &__link
    {
        display: block;
        text-decoration: underline;
        text-align: center;
    }
}

.captcha
{
    margin-top: 20px;
}