@mixin body_main
{
    margin: 0;
    background: $reserve-bg url(../img/background.jpg) no-repeat top center fixed;
    background-size: cover;
}

@mixin form
{
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 25px;
    color: $white-color;
    background-color: $bg-color;
    border: 1px solid $link-color;
    border-radius: 5px;
}

@mixin form__title
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color; 
    border-bottom: 1px solid $link-color;
}

@mixin form__field
{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border: 1px solid $link-color;
    border-radius: 5px;  
}

@mixin form__btn
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Almendra-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: $white-color;
    background: $dark-color;
    border: none;
    border: 1px solid $link-color;
    border-radius: 5px;  
    &:hover
    {
        background: linear-gradient($link-color, $dark-color);
        transition: all ease-out 0.2s;
        opacity: 0.9;
    }
}