@mixin body_main
{
    margin: 0;
    background: $color_bg_reserve url(../img/background.jpg) no-repeat top center fixed;
    background-size: cover;
}

@mixin form
{
    max-width: 350px;
    margin: 2rem auto;
    padding: 25px;
    color: $color_white;
    background-color: $color_bg;
    border: 1px solid $color_link;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 2px $color_bg; 
}

@mixin form__title
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    color: $color_white; 
    border-bottom: 1px solid $color_link;
}

@mixin form__field
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: none;
    border: 1px solid $color_link;
    border-radius: 5px;  
}

@mixin form__btn
{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: 'Almendra-Regular', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: $color_white;
    background: $color_dark;
    border: none;
    border: 1px solid $color_link;
    border-radius: 5px; 
    outline: none;
    cursor: pointer;
    &:hover
    {
        background: linear-gradient($color_link, $color_dark);
        transition: all ease-out 0.2s;
        opacity: 0.9;
    }
    &:active
    {
        outline: none;
        background: $color_dark;
    }
}