/*******************
WELCOME.php
*******************/
body#welcome
{
    @include body_main;
}

.user
{
    flex: 1 0 auto;
}

.user-card
{
    cursor: pointer;
    @include form;
    &__title
    {
       @include form__title; 
    }
    &__picture
    {
        text-align: center;
    }
    &:hover
    {
        background: $color_dark;
    }
}