/*******************
WELCOME.php
*******************/
body#welcome
{
    @include body_main;
}

.user-card
{
    cursor: pointer;
    @include form;
    &__title
    {
       @include form__title; 
    }
    &__img
    {
        text-align: center;
    }
    &:hover
    {
        background: $dark-color;
    }
}